.App {
    font-family: sans-serif;
    text-align: center;
  }
  
.holder{
    background-color: rgb(255, 255, 255);
    border: 10px solid rgb(1, 20, 1);
    height: 400px;
    width: 400px;
    padding: 20px;
    margin: auto;    
    margin-bottom: 50px;
  }

.funny{
    /* background-color: steelblue; */
    border: none;
    color: snow;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    height: 100px;
    width: 100px;
    margin: auto;
}

.funny p{
    height: 80px;
    width: 80px;
    display: inline-block;
    position: relative;
    margin: 10px;

}
.shuffle{
    height: 100px;
    width: 100px;
    margin: auto;
}
.shuffle button{
    background-color: #005070;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}